.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;
}

.mini-submenu:hover{
  cursor: pointer;
}

a.list-group-item{
  background-color:#404040;
  color:#fff;
}

a.list-group-item:hover{
  color: #404040;
  font-weight: bold;
  border-left: red 2px solid;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color:#fff;
  color: #404040;
  font-weight: bold;
  border: none;
  border-left: red 5px solid;
}

span.sub-menu-title{
  background-color:#404040;
  color:#fff;
  font-weight: bold;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}