<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

   <!-- Required meta tags -->
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/Login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/Login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/Login/css/main.css">
<!--===============================================================================================-->


<title>Login Page</title>
</head>
<body>


<body>


	<div class="limiter">
		<div class="container-login100"style="background-image: url('static/Login/images/bg-01.jpg');">
			<div class="wrap-login100">
			
			
				      <!-- /login?error=true -->
	      
		      <div th:if="${#request.getParameter('error') == 'true'}"
		            style="color:red;margin:10px 0px;">
		            <div class="alert alert-danger">
		         Login Failed!!!<br />
		         Reason :
		         <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
		            th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
		                Static summary
		         </span>
		         </div>
		      </div>
			
				
				<form name='f' th:action="@{/j_spring_security_check}" method='POST'>
					
					

					<span class="login100-form-title p-b-34 p-t-27">
						L&D LOGINS
					</span>

<!-- 	<c:if test="${not empty error }">
		<div class="alert alert-danger">
			<c:out value="${error}"></c:out>
		</div>
	</c:if> -->
	
	
	
	

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="static/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/Login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/Login/vendor/bootstrap/js/popper.js"></script>
	<script src="static/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/Login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/Login/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/Login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/Login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/Login/js/main.js"></script>



</body>




</body>
</html>